#header {
    position: fixed;
    top: 0px;
    height: 25px;
    width: 100%;
	-webkit-app-region: drag;
}

#switcher {
    -webkit-app-region: no-drag;
    transition: all 0.2s;
    position: fixed;
    top: 5px;
    left: 5px;
}

#switcher:hover {
    transition: all 0.2s;
    color: #FF7A38;
}

#btnClose {
    width: 30px;
	height: 30px;
	font-weight: bolder;
	-webkit-app-region: no-drag;
    transition: all 0.2s;
    position: fixed;
    top: 0;
    right: 0;
}

#btnClose:hover {
    transition: all 0.2s;
    color: #FF1100;
}

#tabLogin, #tabRegister {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: #FF7A38;
	width: 100px;
	height: 40px;
	position: relative;
	border: 0px;
	text-align: center;
	font-weight: bold;
	border-color: black;
	font-size: 16px;
	color: white;
	font-weight: bold;
}

.button:hover {
    transition: all 0.2s;
    background-color: #b63d00;
}

#btnLogin, #btnRegister, .sneaky, .entry ~ .entry {
    margin-top: 10px;
    margin-bottom: 0px;
}

.sneaky {
    color: rgb(100, 100, 100);
    font-size: 9px;
}
